@tailwind base;
@tailwind components;
@tailwind utilities;

.caw {
  --mask: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 1) 95%,
    rgba(0, 0, 0, 0) 100%
  );

  -webkit-mask: var(--mask);
  mask: var(--mask);
}

select {
  height: 2rem;
  background-color: #2c2e23;
  outline: none;
  border-radius: 2px;
  border: 1px solid #535347;
}

select:hover {
  height: 2rem;
  background-color: #535347;
  outline: none;
}

::selection {
  background: #535347;
}
